{
    "**/*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --config ./.prettierrc.cjs --write -u"],
    "apps/crawl/src/*.{ts,tsx}": ["tsc -p apps/crawl/tsconfig.json --skipLibCheck --noEmit"],
    "apps/playground/src/*.{ts,tsx}": ["tsc -p apps/playground/tsconfig.json --skipLibCheck --noEmit"]
}
