{
    "**/*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --config ./.prettierrc.cjs --write -u"],
    "apps/reptile-region/src/*.{ts,tsx}": ["tsc -p apps/reptile-region/tsconfig.json --skipLibCheck --noEmit"],
    "apps/playground/src/*.{ts,tsx}": ["tsc -p apps/reptile-region/tsconfig.json --skipLibCheck --noEmit"]
}
